@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-destaque: #C92071;
    --cor-branca: white;
    --cor-preta: #1F1F1F;
    --cor--cinza: #474747;

    --bg-main: linear-gradient(#B5B4F2 , #EFEFFF);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto" ,sans-serif;
}

html, body{
    height: 100%;
}

header{

    border: 1px solid blueviolet;

    a{
        display: flex;
        border: 1px solid red;
        margin: 0 auto; 
        width: 178px;  
        height: 64px;
        color: var(--cor-destaque);
        font-weight: bold;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    img{
        width: 20px;
    }       
}

main{

    background: var(--bg-main);
    padding: 63px 30px 80px 30px;
    
    form{

        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
        border-radius: 12px;
        width: 315px;
        height: 572px;
        background: var(--cor-branca);
        padding: 30px;
    
            .text{

                box-sizing: border-box;
                text-align: center;
                margin-bottom: 40px;
                
                h1{
                    font-size: 22.5px;
                    line-height: 34px;
                    letter-spacing: 2px;
                }
            }
        }
}